.app {
  text-align: center;
  width: 960px;
  margin: 0px auto;
}

.header {
  text-align: center;
  align-self: center;
}

.app-body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 700px;
}

.app-body > div {
  display: flex;
  flex: 1;
  transition: box-shadow 140ms;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #fff;
  font: inherit;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  resize: none;
}

.input {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  color: #ffffff;
  align-items: center;
}

.description-tab {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.snippet {
  margin-top: 10px;
  display: flex;
}

@media screen and (min-width: 960px) {
  .app-body {
    padding: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 700px;
  }
  .input {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #ffffff;
    align-items: center;
  }
}
